<h1>Studnet Roster</h1>

<% @students.each do |student| %>
  <div class="student">
    <%= image_tag student.avatar.url, height: '100px'%>
    <p><%= student.student_id %></p>
    <p><%= student.full_name %></p>
  </div>

<% end %>
